<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>userSessionKey</param-name>
    <param-value>USERSESSIONKEY</param-value>
  </context-param>
  <context-param>
    <param-name>uncheckedUrls</param-name>
    <param-value>/download.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>rediretUrl</param-name>
    <param-value>/login/login.jsp</param-value>
  </context-param>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/download.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AllCharacterFilter</display-name>
    <filter-name>AllCharacterFilter</filter-name>
    <filter-class>filter.AllCharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AllCharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>cache</display-name>
    <filter-name>cache</filter-name>
    <filter-class>filter.cache</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>cache</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>Login.src.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validateCode</servlet-name>
    <servlet-class>Login.src.servlet.ValidateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateCode</servlet-name>
    <url-pattern>/login/validateCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>register.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>search.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/homePage/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>download.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/downloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>search2.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/singer/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2Servlet</display-name>
    <servlet-name>Servlet2Servlet</servlet-name>
    <servlet-class>search.servlet.Servlet2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2Servlet</servlet-name>
    <url-pattern>/searchSinger/Servlet2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Servlet3Servlet</servlet-name>
    <servlet-class>search.servlet.Servlet3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3Servlet</servlet-name>
    <url-pattern>/searchSinger/Servlet3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>admin.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongsServlet</servlet-name>
    <servlet-class>admin.servlet.SongsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongsServlet</servlet-name>
    <url-pattern>*.ao</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
upload.listener.FileUploadAppListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>
upload.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/app/fileuploadservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>admin.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingersServlet</display-name>
    <servlet-name>SingersServlet</servlet-name>
    <servlet-class>admin.servlet.SingersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingersServlet</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>admin.servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>*.co</url-pattern>
  </servlet-mapping>
</web-app>